[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Open SAP repository
[access "refs/*"]
	owner = group user/Gustavo Simil (gustavosimil)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gustavo Simil (gustavosimil)
	label-Verified = -1..+1 group user/Gustavo Simil (gustavosimil)
	push = group user/Gustavo Simil (gustavosimil)
	read = group user/Gustavo Simil (gustavosimil)
	rebase = group user/Gustavo Simil (gustavosimil)
	removeReviewer = group user/Gustavo Simil (gustavosimil)
	submit = group user/Gustavo Simil (gustavosimil)
[access "refs/heads/*"]
	create = group user/Gustavo Simil (gustavosimil)
	push = +force group user/Gustavo Simil (gustavosimil)
	pushMerge = group user/Gustavo Simil (gustavosimil)
	read = group user/Gustavo Simil (gustavosimil)
[access "refs/tags/*"]
	push = group user/Gustavo Simil (gustavosimil)
	push = +force group user/Gustavo Simil (gustavosimil)
